body {
    position: relative;
}

button {
    cursor: pointer;
}

.bg-blue-100 {
    background-color: #024995;
}

.bg-blue-200 {
    background-color: #063F80;
}

.bg-yellow-100 {
    background-color: #FEC32D;
}

.bg-pink-100 {
    background-color: #E9418C;
}

.text-blue-100 {
    color: #024995;
}

.p-y-30 {
    padding: 30px 0;
}

.p-y-60 {
    padding: 60px 0;
}

.p-y-180 {
    padding: 180px 0;
}

.m-y-120 {
    margin: 120px 0;
}

.m-y-60 {
    margin: 60px 0;
}

.m-yt-180 {
    margin-top: 180px
}

.m-yb-30 {
    margin-bottom: 30px;
}

.w-120 {
    width: 120px;
}

.top .navbar {
    box-shadow: none;
}

#navbarNav li a {
    opacity: 0.4;
}

#navbarNav li:hover a,
#navbarNav li a.active {
    opacity: 1;
    background: none;
}

.carousel-item {
    height: 655px;
}

.carousel-item img {
    min-height: 200px;
}

.content-subtitle {
    background: url('img/line-subtitle.png') no-repeat center bottom;
    padding: 0 0 45px;
    margin: 0 0 110px;
}

.content-product .btn-content,
.content-contact .btn-content {
    display: block;
    text-align: center;
}

.btn-content {
    opacity: 0.8;
}

.btn-content:hover {
    opacity: 1;
}

.content-contact .form-control {
    color: #ffffff !important;
    background-color: #BA5381;
    border: none;
}

.btn-submit1 {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-submit1:hover {
    background-color: #BA5381;
    color: #ffffff;
}

.content-contact form .row {
    margin-bottom: 1.2rem;
}

.content-contact ::-webkit-input-placeholder {
    color: #ffffff;
}

.content-contact :-ms-input-placeholder {
    color: #ffffff;
}

.content-contact ::placeholder {
    color: #ffffff;
}

footer .info {
    background: #024995 url('img/bck_footer.jpg') repeat-x;
}

#carousell {
    margin-top: 155px;
}

.product {
    padding: 0 20px;
    margin: 20px 0;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -155px;
    z-index: 1031;
}

.cover .content-logo {
    margin: 200px auto 0;
    width: 427px;
}